@model Data_Manager.Models.tbl_Account_Mst_Transaction

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tbl_Account_Mst_Transaction</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Acc_Trans_ID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Acc_Trans_ID)
            @Html.ValidationMessageFor(model => model.Acc_Trans_ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Particular)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Particular)
            @Html.ValidationMessageFor(model => model.Particular)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmpID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmpID)
            @Html.ValidationMessageFor(model => model.EmpID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DR_Amount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DR_Amount)
            @Html.ValidationMessageFor(model => model.DR_Amount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CR_Amount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CR_Amount)
            @Html.ValidationMessageFor(model => model.CR_Amount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserID)
            @Html.ValidationMessageFor(model => model.UserID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsDelete)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsDelete)
            @Html.ValidationMessageFor(model => model.IsDelete)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreateDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreateDate)
            @Html.ValidationMessageFor(model => model.CreateDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdateDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UpdateDate)
            @Html.ValidationMessageFor(model => model.UpdateDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreateBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreateBy)
            @Html.ValidationMessageFor(model => model.CreateBy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdateBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UpdateBy)
            @Html.ValidationMessageFor(model => model.UpdateBy)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
