@model Data_Manager.Models.tbl_Brand

@{
    ViewBag.Title = "Create Brand Name";
}
<div class="row">
    <div class="col-md-6">
        <a title="Back" href='@Url.Action("Index", "Brand")' style="" class="widget-icon widget-icon-dark"><i class="icon-arrow-left"></i></a>
    </div>
</div><br />
@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "validate" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title"><i class="widget-icon widget-icon-dark icon-plus"> </i> Add  Brand</h1>
            </div>
            <div class="panel-body">
                <div class="well">
                    <div class=" form-group form-group-sm">
                        <div class="row ">
                            <div class="form-group col-lg-2">
                                @Html.LabelFor(model => model.Name, "Brand Name")
                                @Html.TextBoxFor(model => model.Name, new { @class = "validate[required] form-control" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>

                        </div>




                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-12">

                        <div class="form-group col-lg-1">


                        </div>
                        <div class="form-group col-lg-11">
                            <button type="submit" class="btn btn-base">
                                <i class=" icon-plus"> </i>
                                Save
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
}

