@model Data_Manager.Models.tbl_Stock

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tbl_Stock</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Stock_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Stock_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SaleTypeID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SaleTypeID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Invoice_No)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Invoice_No)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Unit_Amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unit_Amount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sale_Amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sale_Amount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsDelete)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsDelete)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
