@model Data_Manager.Models.tbl_Vendor_Payment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tbl_Vendor_Payment</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ven_Payment_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ven_Payment_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Bill_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bill_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tbl_Vendor.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tbl_Vendor.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Recv_Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Recv_Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsDelete)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsDelete)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateBy)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
